// Modular Features styling
.modular {
  .features {
    padding: 4rem 0 1rem;
    text-align: center;

    &::after {
      content: "";
      display: table;
      clear: both;
    }

    h2 {
      margin: 0;
      line-height: 100%;
      color: $light-gray;
    }

    hr {
      margin-top: 4rem;
    }

    p {
      margin: 1rem 0;

      @include breakpoint(mobile-only) {
        font-size: $core-font-size;
      }
    }

    .feature-items {
      margin-top: 2rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch;
      gap: 1rem;
    }

    .feature {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      align-items: center;
      width: 32%;
      padding: 1rem;
      box-sizing: border-box;
      flex: 1 1 auto;
      border: none;
      background: none;
        @extend .default-animation;
            -webkit-transform:translateZ(0);
      &:hover {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
        -webkit-transform:scale(1,1.08);
        -moz-transform:scale(1,1.08);
        -ms-transform:scale(1,1.08);
        -o-transform:scale(1,1.08);
        transform:scale(1,1.08);
      }

      @include breakpoint(tablet-range) {
        width: 48%;
      }

      @include breakpoint(mobile-only) {
        width: 100%;
        margin-top: 1rem;
      }

      i.fa {
        font-size: 2rem;
        margin-bottom: 1rem;
        text-align: center;
      }

      .feature-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        width: 100%;

        &.icon-offset {
          margin-left: 0;
        }

        h4 {
          margin: 0 0 0.5rem 0;
          font-size: 1.1rem;
        }

        p {
          margin: 0.2rem 0;
          font-size: $core-font-size;
          text-align: center;

          &:last-of-type {
            margin-top: auto;
          }

          a {
            display: inline-block;
            margin-top: 1rem;
            text-align: center;
          }
        }
      }
    }

    &.big {
      text-align: center;

      .feature {
        width: 32%;

        @include breakpoint(mobile-only) {
          width: 100%;
          margin-top: 1rem;
        }
      }

      i.fa {
        font-size: 4.5rem;
        margin-bottom: 1.5rem;
      }

      .feature-content {
        padding-right: 2rem;

        &.icon-offset {
          margin-left: 0;
        }

        h4 {
          font-size: 1.2rem;
        }

        p {
          padding: 0;
        }
      }
    }
  }
}
