fieldset {
  border: 1px solid $core-border-color;
}

textarea,
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
select[multiple="multiple"] {
  background-color: white;
  border: 1px solid $core-border-color;
  box-shadow: $core-box-shadow;

  &:hover {
    border-color: $core-border-color-hover;
  }

  &:focus {
    border-color: $core-border-color-focus;
    box-shadow: $core-box-shadow-focus;
  }
}

label {
  font-weight: bold;
}

// Forms
.form-field {
  .required {
    color: #F3443F;
    font-size: $core-font-size + 1rem;
    line-height: $core-font-size + 1rem;
    vertical-align: top;
    height: 1.5rem;
    display: inline-block;
  }
}

form {
  .buttons {
    text-align: center;
  }

  input {
    font-weight: 400;
  }
}
